OrderBookingComposite/xsd/OrderBookingRules.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.globalcompany.example.com/ns/OrderBookingService/rules"
     targetNamespace="http://www.globalcompany.example.com/ns/OrderBookingService/rules"
     elementFormDefault="qualified">
    <xsd:element name="approve">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="price" type="xsd:double"/>
                <xsd:element name="approvalRequired" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
