OrderBookingComposite/xsd/sta00751_Demos_Fusion_Order_Demo_ProcessTime.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://xmlns.oracle.com/bam"
        xmlns="http://www.w3.org/2001/XMLSchema"
        attributeFormDefault="qualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/bam">
  <annotation>
    <documentation>
      <info>/Demos/Fusion Order Demo/ProcessTime</info>
    </documentation>
  </annotation>
  <element name="_ProcessTimesCollection">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="_ProcessTimes"
                 type="tns:_ProcessTimes"/>
      </sequence>
    </complexType>
  </element>
  <element name="Response">
    <complexType>
      <sequence>
        <element name="result" type="xsd:string"/>
      </sequence>
    </complexType>
  </element>
  <complexType name="_ProcessTimes">
    <sequence>
      <element minOccurs="0" name="_ECID">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">ECID</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">string</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="xsd:string">
            <maxLength value="100"/>
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" name="_InstanceID" type="xsd:integer">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">InstanceID</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">integer</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_CompositeName">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">CompositeName</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">string</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="xsd:string">
            <maxLength value="100"/>
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" name="_CompositeVersion">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">CompositeVersion</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">string</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="xsd:string">
            <maxLength value="100"/>
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" name="_ReceiveOrder" type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">ReceiveOrder</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_CreditCheck" type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">CreditCheck</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_ApprovalStart" type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">ApprovalStart</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_ApprovalEnd" type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">ApprovalEnd</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_InvokeInternalWarehouse"
               type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">InvokeInternalWarehouse</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_InvokePartnerSupplier" type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">InvokePartnerSupplier</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_ReceiveInternalWarehouseRespo"
               type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">ReceiveInternalWarehouseResponse</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_ReceivePartnerResponse" type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">ReceivePartnerResponse</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_SelectPreferredSupplier"
               type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">SelectPreferredSupplier</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_InvokeFulfillment" type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">InvokeFulfillment</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_FulfillmentComplete" type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">FulfillmentComplete</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_CallBackClient" type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">CallBackClient</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_InternalWarehouseQuote" type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">InternalWarehouseQuote</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_PartnerSupplierQuote" type="xsd:dateTime">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">PartnerSupplierQuote</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">datetime</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="_AssigneeID">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">AssigneeID</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">string</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="xsd:string">
            <maxLength value="100"/>
          </restriction>
        </simpleType>
      </element>
      <element minOccurs="0" name="_OrderID">
        <annotation>
          <appinfo>
            <columnName xmlns="http://xmlns.oracle.com/bam">OrderID</columnName>
            <columnType xmlns="http://xmlns.oracle.com/bam">string</columnType>
            <columnDescription xmlns="http://xmlns.oracle.com/bam"/>
          </appinfo>
        </annotation>
        <simpleType>
          <restriction base="xsd:string">
            <maxLength value="100"/>
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>
</schema>