OrderApprovalHumanTask/services/oracle/fodemo/storefront/store/service/common/serviceinterface/StoreFrontService.wsdl

<wsdl:definitions
     name="StoreFrontService"
     targetNamespace="www.globalcompany.example.com"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="www.globalcompany.example.com"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="www.globalcompany.example.com/types/"
    >
    <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="classpath:/META-INF/wsdl/ServiceException.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="www.globalcompany.example.com/types/" schemaLocation="StoreFrontService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="StoreFrontService_findCustomerInfoVO1">
        <wsdl:part name="parameters" element="types:findCustomerInfoVO1"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_findCustomerInfoVO1Response">
        <wsdl:part name="parameters" element="types:findCustomerInfoVO1Response"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_findCustomerInfoVO1CustomerInfoVOCriteria">
        <wsdl:part name="parameters" element="types:findCustomerInfoVO1CustomerInfoVOCriteria"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_findCustomerInfoVO1CustomerInfoVOCriteriaResponse">
        <wsdl:part name="parameters" element="types:findCustomerInfoVO1CustomerInfoVOCriteriaResponse"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_getOrderInfoVOSDO">
        <wsdl:part name="parameters" element="types:getOrderInfoVOSDO"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_getOrderInfoVOSDOResponse">
        <wsdl:part name="parameters" element="types:getOrderInfoVOSDOResponse"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_createOrderInfoVOSDO">
        <wsdl:part name="parameters" element="types:createOrderInfoVOSDO"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_createOrderInfoVOSDOResponse">
        <wsdl:part name="parameters" element="types:createOrderInfoVOSDOResponse"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_updateOrderInfoVOSDO">
        <wsdl:part name="parameters" element="types:updateOrderInfoVOSDO"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_updateOrderInfoVOSDOResponse">
        <wsdl:part name="parameters" element="types:updateOrderInfoVOSDOResponse"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_deleteOrderInfoVOSDO">
        <wsdl:part name="parameters" element="types:deleteOrderInfoVOSDO"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_deleteOrderInfoVOSDOResponse">
        <wsdl:part name="parameters" element="types:deleteOrderInfoVOSDOResponse"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_mergeOrderInfoVOSDO">
        <wsdl:part name="parameters" element="types:mergeOrderInfoVOSDO"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_mergeOrderInfoVOSDOResponse">
        <wsdl:part name="parameters" element="types:mergeOrderInfoVOSDOResponse"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_findOrderInfoVOSDO">
        <wsdl:part name="parameters" element="types:findOrderInfoVOSDO"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_findOrderInfoVOSDOResponse">
        <wsdl:part name="parameters" element="types:findOrderInfoVOSDOResponse"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_processOrderInfoVOSDO">
        <wsdl:part name="parameters" element="types:processOrderInfoVOSDO"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_processOrderInfoVOSDOResponse">
        <wsdl:part name="parameters" element="types:processOrderInfoVOSDOResponse"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_processCSOrderInfoVOSDO">
        <wsdl:part name="parameters" element="types:processCSOrderInfoVOSDO"/>
    </wsdl:message>
    <wsdl:message name="StoreFrontService_processCSOrderInfoVOSDOResponse">
        <wsdl:part name="parameters" element="types:processCSOrderInfoVOSDOResponse"/>
    </wsdl:message>
    <wsdl:portType name="StoreFrontService">
        <documentation>
            <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="CustomerInfoVO1" xmlns:ns0="/oracle/fodemo/storefront/store/queries/common/"
                 SDOName="ns0:CustomerInfoVOSDO" FindOpName="findCustomerInfoVO1"/>
            <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="OrderInfoVO1" xmlns:ns0="/oracle/fodemo/storefront/store/queries/common/"
                 SDOName="ns0:OrderInfoVOSDO" CreateOpName="createOrderInfoVOSDO" UpdateOpName="updateOrderInfoVOSDO"
                 DeleteOpName="deleteOrderInfoVOSDO" MergeOpName="mergeOrderInfoVOSDO" GetOpName="getOrderInfoVOSDO"
                 FindOpName="findOrderInfoVOSDO" ProcessOpName="processOrderInfoVOSDO" ProcessCSOpName="processCSOrderInfoVOSDO"/>
        </documentation>
        <wsdl:operation name="findCustomerInfoVO1">
            <wsdl:input message="tns:StoreFrontService_findCustomerInfoVO1"/>
            <wsdl:output message="tns:StoreFrontService_findCustomerInfoVO1Response"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="findCustomerInfoVO1CustomerInfoVOCriteria">
            <wsdl:input message="tns:StoreFrontService_findCustomerInfoVO1CustomerInfoVOCriteria"/>
            <wsdl:output message="tns:StoreFrontService_findCustomerInfoVO1CustomerInfoVOCriteriaResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getOrderInfoVOSDO">
            <wsdl:input message="tns:StoreFrontService_getOrderInfoVOSDO"/>
            <wsdl:output message="tns:StoreFrontService_getOrderInfoVOSDOResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="createOrderInfoVOSDO">
            <wsdl:input message="tns:StoreFrontService_createOrderInfoVOSDO"/>
            <wsdl:output message="tns:StoreFrontService_createOrderInfoVOSDOResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updateOrderInfoVOSDO">
            <wsdl:input message="tns:StoreFrontService_updateOrderInfoVOSDO"/>
            <wsdl:output message="tns:StoreFrontService_updateOrderInfoVOSDOResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteOrderInfoVOSDO">
            <wsdl:input message="tns:StoreFrontService_deleteOrderInfoVOSDO"/>
            <wsdl:output message="tns:StoreFrontService_deleteOrderInfoVOSDOResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="mergeOrderInfoVOSDO">
            <wsdl:input message="tns:StoreFrontService_mergeOrderInfoVOSDO"/>
            <wsdl:output message="tns:StoreFrontService_mergeOrderInfoVOSDOResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="findOrderInfoVOSDO">
            <wsdl:input message="tns:StoreFrontService_findOrderInfoVOSDO"/>
            <wsdl:output message="tns:StoreFrontService_findOrderInfoVOSDOResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="processOrderInfoVOSDO">
            <wsdl:input message="tns:StoreFrontService_processOrderInfoVOSDO"/>
            <wsdl:output message="tns:StoreFrontService_processOrderInfoVOSDOResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="processCSOrderInfoVOSDO">
            <wsdl:input message="tns:StoreFrontService_processCSOrderInfoVOSDO"/>
            <wsdl:output message="tns:StoreFrontService_processCSOrderInfoVOSDOResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StoreFrontServiceSoapHttp" type="tns:StoreFrontService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="findCustomerInfoVO1">
            <soap:operation soapAction="www.globalcompany.example.com/findCustomerInfoVO1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findCustomerInfoVO1CustomerInfoVOCriteria">
            <soap:operation soapAction="www.globalcompany.example.com/findCustomerInfoVO1CustomerInfoVOCriteria"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOrderInfoVOSDO">
            <soap:operation soapAction="www.globalcompany.example.com/getOrderInfoVOSDO"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createOrderInfoVOSDO">
            <soap:operation soapAction="www.globalcompany.example.com/createOrderInfoVOSDO"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateOrderInfoVOSDO">
            <soap:operation soapAction="www.globalcompany.example.com/updateOrderInfoVOSDO"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteOrderInfoVOSDO">
            <soap:operation soapAction="www.globalcompany.example.com/deleteOrderInfoVOSDO"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="mergeOrderInfoVOSDO">
            <soap:operation soapAction="www.globalcompany.example.com/mergeOrderInfoVOSDO"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findOrderInfoVOSDO">
            <soap:operation soapAction="www.globalcompany.example.com/findOrderInfoVOSDO"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processOrderInfoVOSDO">
            <soap:operation soapAction="www.globalcompany.example.com/processOrderInfoVOSDO"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="processCSOrderInfoVOSDO">
            <soap:operation soapAction="www.globalcompany.example.com/processCSOrderInfoVOSDO"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StoreFrontService">
        <wsdl:port name="StoreFrontServiceSoapHttpPort" binding="tns:StoreFrontServiceSoapHttp">
            <soap:address location="http://localhost:8888/StoreFrontServiceHooks/StoreFrontService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
